[submodule "dace"]
	path = dace
	url = https://github.com/spcl/dace.git
[submodule "daceml"]
	path = daceml
	url = https://github.com/spcl/daceml.git
[submodule "enzyme"]
	path = enzyme
	url = https://github.com/wsmoses/Enzyme.git
